<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>{{title}}</h1>
        <h2>{{item.name}}</h2>
        <hr>
        <h3>Description</h3>
        {{item.description}}
        <hr>
        <h3>Price</h3>
        {{item.price}}
        <hr>
        <button type="button" id="checkout-button" >BUY</button>
    {% csrf_token %}
</body>
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

// Create an instance of the Stripe object with your publishable API key
var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
var checkoutButton = document.getElementById("checkout-button");
checkoutButton.addEventListener("click", function () {
  fetch("{% url 'buy' item.pk %}", {
    method: "GET",
    headers: {
        'X-CSRFToken': csrftoken
    }
  })
    .then(function (response) {
      return response.json();
    })
    .then(function (session) {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function (result) {
      // If redirectToCheckout fails due to a browser or network
      // error, you should display the localized error message to your
      // customer using error.message.
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function (error) {
      console.error("Error:", error);
    });
});
</script>
</html>